<!doctype html>
<html lang="en">
    <head>
        <title>Find your Minster by Anas Mohamed</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- URL CSS -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
		<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

        <!-- Custom Stylesheet -->	
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='page.css') }}">
    </head>

    <body>
		<div class="site-wrapper"> 
			<div class="container">
				<h class="title">Find Your Minister</h>
			</div>
			<div class="site-wrapper-inner">
				<!-- <form class="form-inline">
					<div class="form-group">
						<select class="riding-list">
							<option>Select your Riding</option>
							{% for riding in ridings %}
							<option value="{{ riding }}">{{ riding }}</option>
							{% endfor %}
						</select>
						</br>
						<button type="submit" class="btn btn-primary btn-sm">Find your Minister</button>
					</div>
				</form> -->
				<form class="form-inline" method="POST"  > 
					<div class="form-group">
						<div class="input-group">
								<select class="riding-list" name="chose" required> <!--{% if chosen=="{{riding}}" %} selected {% endif %} -->
									<option disabled selected>Select your Riding</option>
									{% for riding in ridings %}
									<option value="{{ riding }}" 
									{% if chosen == riding %} 
										selected 
									{% endif %}}>
									{{ riding }}</option>
									{% endfor %}
								</select>
							</br>
							<button type="submit" class="btn btn-primary btn-sm">Find your Minister</button>
						</div>
					</div>
				</form>
			</div>
		</div>


		<!-- Scripts --> 
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    </body>
</html>
